<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="redunDancer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <redunDancer.Properties.Settings>
            <setting name="mbIPTextBoxA" serializeAs="String">
                <value />
            </setting>
            <setting name="mbIPTextBoxB" serializeAs="String">
                <value />
            </setting>
            <setting name="mbMaskTextBoxA" serializeAs="String">
                <value />
            </setting>
            <setting name="mbMaskTextBoxB" serializeAs="String">
                <value />
            </setting>
            <setting name="mbGatewayTextBoxA" serializeAs="String">
                <value />
            </setting>
            <setting name="mbGatewayTextBoxB" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceSelectDropDownA" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceSelectDropDownB" serializeAs="String">
                <value />
            </setting>
            <setting name="mbDNS1TextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="mbDNS2TextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="mbTestPingIntervalTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="mbMaxPingTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="mbTestPingRetryCountTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="mbPingLogImportantOnlyCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mbAlwaysOnTopCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mbPingLogCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
        </redunDancer.Properties.Settings>
    </userSettings>
</configuration>